@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This application was made on a whim for a side project. You shouldn't be uploading anything that is
    vital or personal. Though please make note if you do upload you social security number for
    any coders that are looking to get into identity theft. Not me . . . but still.
</p>
<p>
    "Identity theft is not a joke, JIM!" - Dwight Schrute
</p>